<sly data-sly-use.model="com.tripnest.core.models.ExploreSectionsModel">

    <sly data-sly-list.item="${model.panels}">
        
        <details
            class="exploresections"
            data-sly-test="${item.panelTitle}"
            data-sly-attribute.open="${item.defaultOpen}">
            
            <summary class="exploresections__title">
                ${item.panelTitle}
            </summary>

            <p class="exploresections__body">
                ${item.panelBody}
            </p>

        </details>

    </sly>

</sly>